# 次の2行で、heat-fdm-0.pdf 以外の pdf ファイルは無視する、という設定
*.pdf
!heat-fdm-0.pdf

heat-fdm-2/
add/
old/
Bessel/
!Bessel/draw-Bessel-glsc.c
!Bessel/BesselJY0.eps
prog/
!prog/find_Bessel_roots.c
!prog/find_Bessel_roots.out
!prog/testptrilu.out
!prog/heat2d-disk-adi.c
!prog/ptrilu.h
!prog/ptrilu.c
!prog/testptrilu.c
!prog/testptrilu.out2
!prog/call_gnuplot_v2.c
!prog/heat2d-disk-e.c
!prog/testptrilu.m
!prog/heat2d-disk-i.c
ikeya-prog/
!ikeya-prog/heat2d-i-en3-mk.c
!ikeya-prog/bandlu.c
fdm-in-disk.tar.gz
fdm-in-disk/
heat-fdm-2-prog.tar.gz
heat-fdm-2-prog/
matlab-prog/

# LaTeX の諸々
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.ilg
*.synctex.gz
*.synctex(busy)

# Vim のスワップファイル
*.swp

# Emacs の中間生成ファイル
.#*

#
WARNINGS

#
ascmac.sty
tascmac.sty
